.app-files .shareTabView {
	min-height: 100px;
}

.shareTabView .oneline {
	white-space: nowrap;
}

.shareTabView .oneline, .shareTabView .linkPass, .shareTabView .expirationDateContainer {
	margin: 15px 0;
}

.shareTabView .shareWithLoading {
	padding-left: 10px;
	right: 30px;
	top: 2px;
}

.shareTabView .shareWithRemoteInfo,
.shareTabView .clipboardButton {
	padding-left: 10px;
}

.shareTabView label {
	white-space: nowrap;
}

.shareTabView input[type="checkbox"] {
	margin: 0 3px 0 8px;
	vertical-align: middle;
}

.shareTabView input[type="text"],
.shareTabView input[type="password"] {
	width: 94%;
	margin-left: 0;
}

.shareTabView input[type="text"].shareWithField,
.shareTabView input[type="text"].emailField,
.shareTabView input[type="text"].linkText {
	width: 90%;
}

.shareTabView form {
	font-size: 100%;
	margin-left: 0;
	margin-right: 0;
}

#shareWithList {
	list-style-type: none;
	padding: 0 0 16px;
}

#shareWithList li {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	white-space: normal;
}

#shareWithList .unshare img, #shareWithList .showCruds img {
	vertical-align: text-bottom; /* properly align icons */
}

#shareWithList label input[type=checkbox] {
	margin-left: 0;
	position: relative;
}

#shareWithList .username {
	padding-right: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 254px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}

#shareWithList li label {
	margin-right: 8px;
}

.shareTabView .icon-loading-small {
	display: inline-block;
	z-index: 1;
	background-color: white;
	padding: 2px 0;
}

.shareTabView .shareWithList .icon-loading-small,
.shareTabView .linkShareView .icon-loading-small {
	position: absolute;
}

.shareTabView .linkPass .icon-loading-small {
	margin-top: 9px;
}

.shareTabView .icon {
	display: inline-block;
	background-size: 20px 20px;
	vertical-align: middle;
}

.linkShareView input, .shareWithField, .datepicker{
	border:0 !important;
	border-radius: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0);
}


.linkShareView input:active, .linkShareView input:focus, .shareWithField:focus,.shareWithField:active, .datepicker:focus, .datepicker:active {
	-webkit-animation: popping-border 0.35s ease-out;
	-moz-animation: popping-border 0.35s ease-out;
	animation: popping-border 0.35s ease-out;
	-webkit-transition: all 0.35s ease-out, box-shadow 0.35s ease 0.35s;
	-moz-transition: all 0.35s ease-out, box-shadow 0.35s ease 0.35s;
	transition: all 0.35s ease-out, box-shadow 0.35s ease 0.35s;

	-webkit-box-shadow: 0px 0px 2px 4px rgba(0,121,140 ,.5);
	-moz-box-shadow: 0px 0px 2px 4px rgba(0,121,140 ,.5);
	box-shadow: 0px 0px 2px 4px rgba(0,121,140 ,.5);
}


@-webkit-keyframes popping-border {
	0% {
		-webkit-transform: scale(1);
	}
	66% {
		-webkit-transform: scale(0.95);
	}
	100% {
		-webkit-transform: scale(1);
		-webkit-box-shadow: 0px 0px 2px 4px rgba(0,121,140 ,.5);
	}
}
@-moz-keyframes popping-border {
	0% {
		-moz-transform: scale(1);
	}
	66% {
		-moz-transform: scale(0.95);
	}
	100% {
		-moz-transform: scale(1);
		-moz-box-shadow: 0px 0px 2px 4px rgba(0,121,140 ,.5);
	}
}
@keyframes popping-border {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	66% {
		-webkit-transform: scale(0.95);
		-moz-transform: scale(0.95);
		-ms-transform: scale(0.95);
		-o-transform: scale(0.95);
		transform: scale(0.95);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		-webkit-box-shadow: 0px 0px 2px 4px rgba(0,121,140 ,.5);
		-moz-box-shadow: 0px 0px 2px 4px rgba(0,121,140 ,.5);
		box-shadow: 0px 0px 2px 4px rgba(0,121,140 ,.5);
	}
}