.app-files .shareTabView {
	min-height: 100px;
}

.shareTabView .oneline {
	white-space: nowrap;
}

.shareTabView .oneline, .shareTabView .linkPass, .shareTabView .expirationDateContainer {
	margin: 15px 0;
}

.shareTabView .shareWithLoading {
	padding-left: 10px;
	right: 30px;
	top: 2px;
}

.shareTabView .shareWithRemoteInfo,
.shareTabView .clipboardButton {
	padding-left: 10px;
}

.shareTabView label {
	white-space: nowrap;
}


.shareTabView input[type="checkbox"] {
	margin: 0 3px 0 8px;
	vertical-align: middle;
}

.shareTabView input[type="text"],
.shareTabView input[type="password"] {
	width: 94%;
	margin-left: 0;
}

.shareTabView input[type="text"].shareWithField,
.shareTabView input[type="text"].emailField,
.shareTabView input[type="text"].linkText {
	width: 85%;
}

@media screen and (min-width: 1400px){

	.shareTabView input[type="text"].shareWithField,
	.shareTabView input[type="text"].emailField,
	.shareTabView input[type="text"].linkText {
		width: 90%;
	}
}


.shareTabView form {
	font-size: 100%;
	margin-left: 0;
	margin-right: 0;
}

#shareWithList {
	list-style-type: none;
	padding: 0 0 16px;
}

#shareWithList li {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	white-space: normal;
}

#shareWithList .unshare img, #shareWithList .showCruds img {
	vertical-align: text-bottom; /* properly align icons */
}

#shareWithList label input[type=checkbox] {
	margin-left: 0;
	position: relative;
}

#shareWithList .username {
	padding-right: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 254px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}

#shareWithList li label {
	margin-right: 8px;
}

.shareTabView .icon-loading-small {
	display: inline-block;
	z-index: 1;
	background-color: #f2f9fe;
	padding: 2px 0;
}

.shareTabView .shareWithList .icon-loading-small,
.shareTabView .linkShareView .icon-loading-small {
	position: absolute;
}

.shareTabView .linkPass .icon-loading-small {
	margin-top: 9px;
}

.shareTabView .icon {
	display: inline-block;
	background-size: 20px 20px;
	vertical-align: middle;
	padding-top:5px;
}
.shareTabView .icon.shareWithRemoteInfo{
	margin-top:1.1em;
	margin-left:1.3em;
	display: none;
}
.shareTabView .input .shareWithLoading{
	right:auto;
	left:95%;
	top:10px;
	bottom:auto;
	background-color: rgba(0,0,0,0);
}



.input {
	position: relative;
	z-index: 1;
	margin: 1em 0;
	max-width: 100%;
	width: calc(100% - 2em);
	vertical-align: top;
	display: inline-block;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border-radius: 0 !important;
	border:0 !important;
	outline:0 !important;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}


/* Hideo */
input.input__field--hideo {
	font-size:18px;
	font-weight:normal;
}

.input__field--hideo {
	padding: 5px 12px 5px 5px !important;
	margin:0 !important;
	height:30px;
	width: 100%;
	background: rgb(255,255,255) !important;
	-webkit-transform: translate3d(30px, 0, 0);
	transform: translate3d(30px, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hideo {
	position: absolute;
	padding: 0;
	width: 50px;
	height: 100%;
	text-align: center;
	height:40px;
}

.input__label--hideo::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 50px;
	height: 100%;
	background: rgb(188,171,209);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.icon--hideo {
	color: #fff;
	-webkit-transform: scale3d(1, 1, 1); /* Needed for Chrome bug */
	transform: scale3d(1, 1, 1);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--hideo {
	position: absolute;
	top: 100%;
}

.input-active{
	width: 40px;
}
.input-active::before{
	width: 40px;
}

/*.input__field--hideo:focus {*/
	/*-webkit-transform: translate3d(0, 0, 0);*/
	/*transform: translate3d(0, 0, 0);*/
/*}*/

/*.input__field--hideo:focus  + .input__label--hideo::before {*/
	/*-webkit-transform: scale3d(0.8, 1, 1);*/
	/*transform: scale3d(0.8, 1, 1);*/
/*}*/

/*.input__field--hideo:focus + .input__label--hideo .icon--hideo {*/
	/*-webkit-transform: scale3d(0.6, 0.6, 1);*/
	/*transform: scale3d(0.6, 0.6, 1);*/
/*}*/


.input__field--hideo::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size:13px;
}
.input__field--hideo::-moz-placeholder { /* Firefox 19+ */
	font-size:13px;
}
.input__field--hideo:-ms-input-placeholder { /* IE 10+ */
	font-size:13px;
}
.input__field--hideo:-moz-placeholder { /* Firefox 18- */
	font-size:13px;
}

@media screen and (min-width: 1900px){

	.input__field--hideo::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-size:14px;
	}
	.input__field--hideo::-moz-placeholder { /* Firefox 19+ */
		font-size:14px;
	}
	.input__field--hideo:-ms-input-placeholder { /* IE 10+ */
		font-size:14px;
	}
	.input__field--hideo:-moz-placeholder { /* Firefox 18- */
		font-size:14px;
	}

}