/* APP STYLING -------------------------------------------------------------- */

#app {
	height: 100%;
	width: 100%;
}

#app * {
	box-sizing: border-box;
}

a:hover, a:focus, a:active {
	text-decoration: none !important;
}

/* APP-NAVIGATION ------------------------------------------------------------*/

/* Navigation: folder like structure */
#app-navigation {
	width: 250px;
	height: 100%;
	float: left;
	box-sizing: border-box;
	background-color: rgb(0, 188, 212);
	padding-bottom: 44px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*border-right: 1px solid #eee;*/
}

#app-navigation > ul {
	position: relative;
	height: 150px;
	width: inherit;
	overflow: auto;
	box-sizing: border-box;
	padding-top: 60px;
	border-right: 1px solid rgb(0, 172, 193);
	overflow: hidden;
}

@media  screen and (min-width: 2000px) {

	#app-navigation > ul {
		position: relative;
		height: 300px;
	}
}

#app-navigation li {
	position: relative;
	width: 100%;
	box-sizing: border-box;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#app-navigation li:active {
	border-color: #17954c;
	color: #17954c;
}

#app-navigation li:hover {
	background-color: rgb(0, 172, 193);
}

#app-navigation li:before {
	position: absolute;
	content: url('../img/actions/arrow.png');
	height: 100%;
	font-size: 125%;
	line-height: 45px;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#app-navigation li:before {
	left: 80%;
	opacity: 0;
	top: 0;
}

#app-navigation li:hover:before {
	left: 90%;
	opacity: 1;
}

#app-navigation .nav-favorites, #app-navigation .nav-sharingin, #app-navigation .nav-sharingout, #app-navigation .nav-sharinglinks, #app-navigation .nav-systemtagsfilter {
	display: none;
}

#app-navigation .active.with-menu > a,
#app-navigation .with-counter > a {
	padding-right: 50px;
}

#app-navigation .active.with-menu.with-counter > a {
	padding-right: 90px;
}

#app-navigation .with-icon a,
#app-navigation .app-navigation-entry-loading a {
	padding-left: 44px;
	background-size: 20px 20px;
	background-position: 14px center;
	background-repeat: no-repeat;
}

#app-navigation li > a {
	display: block;
	width: 100%;
	line-height: 44px;
	min-height: 44px;
	padding: 0 12px;
	overflow: hidden;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: white;
	opacity: .57;
	font-size: 17px;
	font-weight: 500;
}

#app-navigation .active,
#app-navigation .active a,
#app-navigation li:focus > a,
#app-navigation a:focus,
#app-navigation .selected,
#app-navigation .selected a {
	opacity: 1;
	text-decoration: none;
	background-color: rgb(77, 208, 225);
}

#app-navigation li:hover > a {
	opacity: 1;
}

#app-navigation .collapse {
	display: none; /* hide collapse button initially */
}

#app-navigation .collapsible > .collapse {
	position: absolute;
	height: 44px;
	width: 44px;
	margin: 0;
	padding: 0;
	background: none;
	background-image: url('../img/actions/triangle-s.svg');
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 0;
	outline: none !important;
	box-shadow: none;
}

#app-navigation .collapsible:hover > a,
#app-navigation .collapsible:focus > a {
	background-image: none;
}

#app-navigation .collapsible:hover > .collapse,
#app-navigation .collapsible:focus > .collapse {
	display: block;
}

#app-navigation .collapsible .collapse {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#app-navigation .collapsible.open .collapse {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

/* Second level nesting for lists */
#app-navigation > ul ul {
	display: none;
}

#app-navigation > ul ul li > a {
	padding-left: 32px;
}

#app-navigation > .with-icon ul li > a,
#app-navigation > .with-icon ul li.app-navigation-entry-loading > a {
	padding-left: 68px;
	background-position: 44px center;
}

#app-navigation .collapsible.open {
	background-image: linear-gradient(top, rgb(238, 238, 238) 0%, rgb(245, 245, 245) 100%);
	background-image: -webkit-linear-gradient(top, rgb(238, 238, 238) 0%, rgb(245, 245, 245) 100%);
	background-image: -ms-linear-gradient(top, rgb(238, 238, 238) 0%, rgb(245, 245, 245) 100%);
}

#app-navigation > ul .collapsible.open:hover,
#app-navigation > ul .collapsible.open:focus {
	box-shadow: inset 0 0 3px #ddd;
}

#app-navigation > ul .collapsible.open ul {
	display: block;
}

/* Deleted entries with undo button */
#app-navigation .app-navigation-entry-deleted {
	display: inline-block;
	height: 44px;
	width: 100%;
}

#app-navigation .app-navigation-entry-deleted-description {
	padding-left: 12px;
	position: relative;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	width: calc(100% - 49px);
	line-height: 44px;
	float: left;
}

#app-navigation .app-navigation-entry-deleted-button {
	margin: 0;
	height: 44px;
	width: 44px;
	line-height: 44px;
	border: 0;
	display: inline-block;
	background-color: transparent;
	opacity: .5;
}

#app-navigation .app-navigation-entry-deleted-button:hover,
#app-navigation .app-navigation-entry-deleted-button:focus {
	opacity: 1;
}

/* counter and actions, legacy code */
#app-navigation .utils {
	position: absolute;
	padding: 7px 7px 0 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 12px;
}

#app-navigation .utils button,
#app-navigation .utils .counter {
	width: 44px;
	height: 44px;
	padding-top: 12px;
}

/* drag and drop */
#app-navigation .drag-and-drop {
	-webkit-transition: padding-bottom 500ms ease 0s;
	transition: padding-bottom 500ms ease 0s;
	padding-bottom: 40px;
}

#app-navigation .error {
	color: #dd1144;
}

#app-navigation .app-navigation-separator {
	border-bottom: 1px solid #ddd;
}

/**
 * App navigation utils, buttons and counters for drop down menu
 */
#app-navigation .app-navigation-entry-utils {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 105;
}

#app-navigation .app-navigation-entry-utils ul {
	display: block !important;
}

#app-navigation .app-navigation-entry-utils li {
	float: left;
	width: 44px !important;
	height: 44px;
	line-height: 44px;
}

#app-navigation .active > .app-navigation-entry-utils li {
	display: inline-block;
}

#app-navigation .app-navigation-entry-utils button {
	height: 38px;
	width: 38px;
	line-height: 38px;
	float: left;
}

#app-navigation .app-navigation-entry-utils-menu-button {
	display: none;
}

#app-navigation .app-navigation-entry-utils-menu-button button {
	border: 0;
	opacity: .5;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/actions/more.svg');
}

#app-navigation .app-navigation-entry-utils-menu-button:hover button,
#app-navigation .app-navigation-entry-utils-menu-button:focus button {
	background-color: transparent;
	opacity: 1;
}

#app-navigation .app-navigation-entry-utils-counter {
	overflow: hidden;
	text-overflow: hidden;
	text-align: right;
	font-size: 9pt;
	width: 38px;
	line-height: 44px;
	padding: 0 10px;
}

#app-navigation .app-navigation-entry-utils ul,
#app-navigation .app-navigation-entry-menu ul {
	list-style-type: none;
}

/* menu bubble / popover */
.bubble,
#app-navigation .app-navigation-entry-menu {
	position: absolute;
	background-color: #fff;
	color: #333;
	border-radius: 3px;
	border-top-right-radius: 0;
	z-index: 110;
	margin: -5px 14px 5px 10px;
	right: 0;
	-webkit-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	-moz-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	-ms-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	-o-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
}

.ie .bubble,
.ie #app-navigation .app-navigation-entry-menu,
.ie .bubble:after,
.ie #app-navigation .app-navigation-entry-menu:after,
.edge .bubble,
.edge #app-navigation .app-navigation-entry-menu,
.edge .bubble:after,
.edge #app-navigation .app-navigation-entry-menu:after {
	border: 1px solid #eee;
}

/* miraculous border arrow stuff */
.bubble:after,
#app-navigation .app-navigation-entry-menu:after {
	bottom: 100%;
	right: 0; /* change this to adjust the arrow position */
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubble:after,
#app-navigation .app-navigation-entry-menu:after {
	border-color: rgba(238, 238, 238, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

.bubble .action {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;
	filter: alpha(opacity=50) !important;
	opacity: .5 !important;
}

.bubble .action:hover,
.bubble .action:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
	filter: alpha(opacity=100) !important;
	opacity: 1 !important;
}

#app-navigation .app-navigation-entry-menu {
	display: none;
}

#app-navigation .app-navigation-entry-menu.open {
	display: block;
}

/* list of options for an entry */
#app-navigation .app-navigation-entry-menu ul {
	display: block !important;
}

#app-navigation .app-navigation-entry-menu li {
	float: left;
	width: 38px !important;
}

#app-navigation .app-navigation-entry-menu li button {
	float: right;
	width: 36px !important;
	height: 36px;
	line-height: 36px;
	border: 0;
	opacity: .5;
	background-color: transparent;
}

#app-navigation .app-navigation-entry-menu li button:hover,
#app-navigation .app-navigation-entry-menu li button:focus {
	opacity: 1;
	background-color: transparent;
}

/* editing an entry */
#app-navigation .app-navigation-entry-edit {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	height: 39px;
	width: 100%;
}

#app-navigation .app-navigation-entry-edit input {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	width: calc(100% - 36px);
	padding: 5px;
	margin-right: 0;
	height: 38px;
	float: left;
	border: 1px solid rgba(190, 190, 190, .9);
}

#app-navigation .app-navigation-entry-edit button,
#app-navigation .app-navigation-entry-edit input[type="submit"] {
	width: 36px;
	height: 38px;
	float: left;
}

#app-navigation .app-navigation-entry-edit .icon-checkmark {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-left: 0;
	margin-right: 0;
}

/* APP-CONTENT ---------------------------------------------------------------*/

/* Part where the content will be loaded into */
#app-content {
	position: relative;
	height: 100%;
	overflow-y: auto;
}

#app-content-wrapper {
	min-width: 100%;
	min-height: 100%;
}

/* APP-SIDEBAR ----------------------------------------------------------------*/

/*
	Sidebar: a sidebar to be used within #app-content
	 have it as first element within app-content in order to shrink other
	 sibling containers properly. Compare Files app for example.
*/
#app-sidebar {
	position: fixed;
	top: 70px;
	right: 0;
	left: auto;
	bottom: 0;
	width: 27%;
	min-width: 300px;
	display: block;
	background: rgb(242,249,254);
	border-left: 1px solid #eee;
	overflow-x: hidden;
	overflow-y: auto;
	visibility: visible;
	z-index: 500;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#app-content.with-app-sidebar {
	margin-right: 27%;
}

#app-sidebar.disappear {
	right: -100%;
}


/* APP-DOWNLOAD ---------------------------------------------------------------*/

#app-download{
	position: absolute;
	bottom:0;
	left:0;
	width:250px;
}

#app-download .app-download-elem{
	width:100%;
	height:170px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#app-download .app-download-btn{
	position: relative;
	width:100%;
	height:50px;
	border:0;
	outline:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	background-color: rgb(0,121,140);
	color: white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#app-download .app-download-btn:hover{
	background-color: rgba(0,121,140, 0.5);
}

#app-download .app-download-btn i{
	font-size:45px;
	line-height:30px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

#app-download.hidden-elem .app-download-elem {
	height:0;
}

#app-download .app-download-btn i.rotate{
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);

}

#app-download .app-download-elem a {
	position: relative;
	width: 250px;
	height: 170px;
	color: white;
	font-size: 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	overflow: hidden;
	display: block;
}
#app-download  .app-download-elem__computer a{
	background-color: rgb(255,107,107);
}

#app-download  .app-download-elem__phone a{
	background-color: rgb(134,94,164);
}
#app-download .app-download-elem a div{
	width: 250px;
	height: 170px;
	position:absolute;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-content:center;
}
#app-download .app-download-elem a div img{
	max-height: 75%;
	height: auto;
	width:auto;
	margin-top:12.5%;
}

#app-download .app-download-elem a div i{
	line-height: 170px;
	font-size:40px;
}

#app-download  .app-download-elem__computer a div img{
	max-height:60%;
	margin-top:20%;
}

#app-download .app-download-elem  .app-download-img{
	left:0;
	top:0;
}

#app-download .app-download-elem  .app-download-text {
	left: 100%;
	top: 0;
}
#app-download .app-download-elem  .app-download-text span{
	margin:auto 15px;
	text-align: center;
	font-size:18px;
}

#app-download .app-download-elem a:hover .app-download-img{
	left:-100%;
	top:0;
}

#app-download .app-download-elem a:hover .app-download-text{
	left:0;
	top:0;
}

@media screen and (max-height: 610px){

	#app-download .app-download-elem, #app-download .app-download-elem a, #app-download .app-download-elem a div {
	 	height: 120px;
	}

	#app-download .app-download-elem a div i{
		line-height: 120px;
	}

	#app-download .app-download-elem  .app-download-text span{
		font-size:16px;
	}
}

/* APP-SETTINGS ---------------------------------------------------------------*/

/* settings area */
#app-settings {
	position: fixed;
	width: 250px; /* change to 100% when layout positions are absolute */
	bottom: 0;
	z-index: 140;
	display: none;
}

#app-settings.opened #app-settings-content {
	display: block;
}

#app-settings-content {
	display: none;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0);
}

#app-settings.open #app-settings-content {
	display: block;
	/* restrict height of settings and make scrollable */
	max-height: 300px;
	overflow-y: auto;
}

#app-settings-content,
#app-settings-header {
	border-right: 0px;
	color: white;
}

/* display input fields at full width */
#app-settings-content input[type='text'] {
	width: 93%;
}

.settings-button {
	display: block;
	height: 44px;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0);
	background-image: url('../img/actions/settings.png') !important;
	background-position: 14px center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	text-align: left;
	padding-left: 42px;
	font-weight: normal;
	font-size: 110%;
	border-right: 1px solid rgb(0, 172, 193);
}


@media screen and (min-width: 1500px) {
	.settings-button  {
		font-size: 17px;
	}
}


.settings-button:hover,
.settings-button:focus,
.settings-button.opened:hover,
.settings-button.opened:focus {
	background-color: rgb(0, 172, 193);
	color: white;
}

/* buttons */
button.loading {
	background-image: url('../img/loading.gif');
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 16px;
	padding-right: 30px;
}

/* general styles for the content area */
.section {
	display: block;
	padding: 30px;
	color: #555;
	margin-bottom: 24px;
}

.section.hidden {
	display: none !important;
}

.sub-section {
	position: relative;
	margin-top: 10px;
	margin-left: 27px;
	margin-bottom: 10px;
}

/* no top border for first settings item */
#app-content > .section:first-child {
	border-top: none;
}

/* heading styles */
h2 {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 12px;
}

h3 {
	font-size: 15px;
	font-weight: 300;
	margin: 12px 0;
}

/* slight position correction of checkboxes and radio buttons */
.section input[type="checkbox"],
.section input[type="radio"] {
	vertical-align: -2px;
	margin-right: 4px;
}

.appear {
	opacity: 1;
	-webkit-transition: opacity 500ms ease 0s;
	-moz-transition: opacity 500ms ease 0s;
	-ms-transition: opacity 500ms ease 0s;
	-o-transition: opacity 500ms ease 0s;
	transition: opacity 500ms ease 0s;
}

.appear.transparent {
	opacity: 0;
}

/* do not use italic typeface style, instead lighter color */
em {
	font-style: normal;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: .5;
}

/* generic dropdown style */
.dropdown {
	background: #eee;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 1px 1px #777;
	display: block;
	margin-right: 0;
	position: absolute;
	right: 0;
	width: 420px;
	z-index: 500;
	padding: 16px;
}

/* generic tab styles */
.tabHeaders {
	margin: 15px;
	text-align: center;
}

.tabHeaders .tabHeader {
	/*float: left;*/
	padding: 5px;
	cursor: pointer;
	display: inline-block;
}

.tabHeaders .tabHeader, .tabHeaders .tabHeader a {
	color: #888;
}

.tabHeaders .tabHeader.selected {
	font-weight: 600;
}

.tabHeaders .tabHeader.selected,
.tabHeaders .tabHeader:hover {
	border-bottom: 1px solid #333;
}

.tabHeaders .tabHeader.selected,
.tabHeaders .tabHeader.selected a,
.tabHeaders .tabHeader:hover,
.tabHeaders .tabHeader:hover a {
	color: #000;
}

.tabsContainer {
	clear: left;
}

.tabsContainer .tab {
	padding: 5px 15px 15px 15px;
}

/* popover menu styles (use together with "bubble" class) */
.popovermenu .menuitem,
.popovermenu .menuitem > span {
	cursor: pointer;
	vertical-align: middle;
}

.popovermenu .menuitem {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

.popovermenu .menuitem:hover,
.popovermenu .menuitem:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.popovermenu {
	padding: 0;
}

.popovermenu li {
	padding: 5px 0;
}

.popovermenu .menuitem img {
	padding: initial;
}

.popovermenu a.menuitem,
.popovermenu label.menuitem,
.popovermenu .menuitem {
	padding: 10px;
	margin: -10px;
}

.popovermenu.hidden {
	display: none;
}

.popovermenu .menuitem {
	display: block;
	line-height: 30px;
	padding-left: 5px;
	color: #000;
	padding: 0;
}

.popovermenu .menuitem .icon,
.popovermenu .menuitem .no-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	vertical-align: middle;
}

.popovermenu .menuitem {
	opacity: 0.5;
}

.popovermenu li:hover .menuitem {
	opacity: 1;
}

#box-anim{
	display: none;
	position: absolute;
	top:50%;
	left:50%;
	z-index:9999;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.box-wrapper {
	position: relative;
	margin: 50px auto;
	width: 80px;
	height: 114px;
	-webkit-animation: rotate-box 2.3s infinite;
	animation: rotate-box 2.3s infinite;
}
@media screen and (max-width: 844px){
	#box-anim, .box-wrapper{
		display: none !important;
	}
}

.box-wrapper .box-front,
.box-wrapper .box-back {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 30px;
}
.box-wrapper .box-front {
	position: fixed;
	background: #44a5f3;
	overflow: hidden;
}
.box-wrapper .box-front .check {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}
.box-wrapper .box-front .check::before {
	content: '';
	display: block;
	position: relative;
	margin-top: 40px;
	margin-left: 25px;
	border: solid #eeeeef;
	border-right-width: 0;
	border-top-width: 0;
	-webkit-animation: check-mark-animation 2.3s infinite;
	animation: check-mark-animation 2.3s infinite;
}
.box-wrapper .box-front .check::after {
	content: '';
	display: block;
	position: relative;
	margin-top: 0px;
	margin-left: 25px;
	background: rgba(0, 0, 0, 0.1);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 12%, transparent 77%, transparent 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 12%, transparent 77%, transparent 100%);
	width: 128px;
	height: 85px;
	-webkit-animation: check-m-shadow 2.3s infinite;
	animation: check-m-shadow 2.3s infinite;
}
.box-wrapper .box-back {
	position: absolute;
	background: #1977d1;
	-webkit-animation: move-back-box 2.3s infinite;
	animation: move-back-box 2.3s infinite;
	overflow: hidden;
	z-index: -1;
}
.box-wrapper .box-back::before {
	content: '';
	display: block;
	position: absolute;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg) translate(-53px, 76px);
	background: rgba(0, 0, 0, 0.1);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
	top: 0;
	left: -15px;
	right: 0;
	bottom: 35px;
	-webkit-animation: front-box-shadow 2.3s infinite;
	animation: front-box-shadow 2.3s infinite;
}

@-webkit-keyframes rotate-box {
	0% {
		-webkit-transform: rotate(0deg) translateX(0);
		transform: rotate(0deg) translateX(0);
		width:80px;
	}
	15.5% {
		-webkit-transform: rotate(90deg) translateX(-150px);
		transform: rotate(90deg) translateX(-150px);
		width: 127px;
	}
	18.5% {
		-webkit-transform: rotate(90deg) translateX(-150px);
		transform: rotate(90deg) translateX(-150px);
	}
	22% {
		-webkit-transform: rotate(90deg) translateX(70px);
		transform: rotate(90deg) translateX(70px);
	}
	32% {
		-webkit-transform: rotate(90deg) translateX(0);
		transform: rotate(90deg) translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: rotate(90deg) translateX(0);
		transform: rotate(90deg) translateX(0);
		width: 127px;
	}
}

@keyframes rotate-box {
	0% {
		-webkit-transform: rotate(0deg) translateX(0);
		transform: rotate(0deg) translateX(0);
		width: 80px;
	}
	15.5% {
		-webkit-transform: rotate(90deg) translateX(-150px);
		transform: rotate(90deg) translateX(-150px);
		width: 127px;
	}
	18.5% {
		-webkit-transform: rotate(90deg) translateX(-150px);
		transform: rotate(90deg) translateX(-150px);
	}
	22% {
		-webkit-transform: rotate(90deg) translateX(70px);
		transform: rotate(90deg) translateX(70px);
	}
	32% {
		-webkit-transform: rotate(90deg) translateX(0);
		transform: rotate(90deg) translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: rotate(90deg) translateX(0);
		transform: rotate(90deg) translateX(0);
		width: 127px;
	}
}
@-webkit-keyframes move-back-box {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	22% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	45% {
		-webkit-transform:  translate(-30px, -30px);
		transform:  translate(-30px, -30px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: translate(-30px, -30px);
		transform: translate(-30px, -30px);
	}
}
@keyframes move-back-box {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	22% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	45% {
		-webkit-transform:  translate(-30px, -30px);
		transform:  translate(-30px, -30px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform:  translate(-30px, -30px);
		transform: translate(-30px, -30px);
	}
}
@-webkit-keyframes check-mark-animation {
	0% {
		width: 0;
		height: 0;
	}
	21.665% {
		height: 0;
		border-bottom-width: 0;
		border-left-width: 0;
	}
	21.666% {
		border-bottom-width: 20px;
		border-left-width: 20px;
		height: 40px;
	}
	22% {
		width: 0;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	45% {
		width: 88px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		width: 88px;
		height: 40px;
		border-bottom-width: 20px;
		border-left-width: 20px;
	}
}
@keyframes check-mark-animation {
	0% {
		width: 0;
		height: 0;
	}
	21.665% {
		height: 0;
		border-bottom-width: 0;
		border-left-width: 0;
	}
	21.666% {
		border-bottom-width: 20px;
		border-left-width: 20px;
		height: 40px;
	}
	22% {
		width: 0;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	45% {
		width: 88px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		width: 88px;
		height: 40px;
		border-bottom-width: 20px;
		border-left-width: 20px;
	}
}
@-webkit-keyframes check-m-shadow {
	0% {
		width: 0;
		height: 0;
	}
	22% {
		width: 0;
		height: 0;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	45% {
		width: 88px;
		height: 88px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		width: 88px;
		height: 88px;
	}
}
@keyframes check-m-shadow {
	0% {
		width: 0;
		height: 0;
	}
	22% {
		width: 0;
		height: 0;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	45% {
		width: 88px;
		height: 88px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		width: 88px;
		height: 88px;
	}
}
@-webkit-keyframes front-box-shadow {
	0% {
		visibility: hidden;
	}
	21.9999% {
		visibility: hidden;
	}
	22% {
		visibility: visible;
	}
	100% {
		visibility: visible;
	}
}
@keyframes front-box-shadow {
	0% {
		visibility: hidden;
	}
	21.9999% {
		visibility: hidden;
	}
	22% {
		visibility: visible;
	}
	100% {
		visibility: visible;
	}
}
