/* prevent ugly selection effect on accidental selection */
#header,
#navigation,
#expanddiv {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* removed until content-focusing issue is fixed */
#skip-to-content a {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip-to-content a:focus {
	left: 76px;
	top: -9px;
	color: #fff;
	width: auto;
	height: auto;
}

/* HEADERS ------------------------------------------------------------------ */

#body-user #header,
#body-settings #header,
#body-public #header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2000;
	height: 70px;
	line-height: 2.5em;
	background-color: #00798C;
	box-sizing: border-box;

	-webkit-box-shadow: 0 1px 10px rgba(50, 50, 50, .5);
	-moz-box-shadow: 0 1px 10px rgba(50, 50, 50, .5);
	box-shadow: 0 1px 10px rgba(50, 50, 50, .5);

}

/* LOGO and APP NAME -------------------------------------------------------- */

#owncloud {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	padding-bottom: 0;
	height: auto; /* header height */
	box-sizing: border-box;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	width: 250px;
	height: 70px;
	/*background-color: #028092;*/
	-webkit-box-shadow: 2px 0 5px -2px rgba(50, 50, 50, 0.5);
	box-shadow: 2px 0 5px -2px rgba(50, 50, 50, 0.5);
}

#owncloud:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	opacity: .75;
}

#owncloud:hover,
#owncloud:active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}

#header .logo {
	background-image: url('../img/logo-icon.svg');
	background-repeat: no-repeat;
	background-size: 175px;
	background-position: bottom;
	width: 252px;
	height: 150px;
	margin: 0 auto;
}

#header .logo-icon {
	/* display logo so appname can be shown next to it */
	display: inline-block;
	background-image: url(../img/logo-icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 80px;
	height: 60px;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

#header .header-appname-container {
	/*display: inline-block;*/
	display: none !important;
	position: absolute;
	left: 70px;
	height: 27px;
	padding-top: 18px;
	padding-right: 10px;
}

/* hover effect for app switcher label */
.header-appname-container .header-appname,
.menutoggle .icon-caret {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	opacity: .75;
}

.menutoggle:hover .header-appname,
.menutoggle:hover .icon-caret,
.menutoggle:focus .header-appname,
.menutoggle:focus .icon-caret,
.menutoggle.active .header-appname,
.menutoggle.active .icon-caret {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}

/* show appname next to logo */
.header-appname {
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	margin-top: -24px;
	padding: 7px 0 7px 5px;
	vertical-align: middle;
}

/* show caret indicator next to logo to make clear it is tappable */
#header .icon-caret {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0;
	margin-top: -21px;
	padding: 0;
	vertical-align: middle;
}

/* do not show menu toggle on public share links as there is no menu */
#body-public #header .icon-caret {
	display: none;
}

/* NAVIGATION --------------------------------------------------------------- */

#navigation {
	position: fixed;
	top: 0;
	/*left: 80px;*/
	left: 250px;
	width: auto;
	height: 70px;
	margin-top: 0;
	display: inline-block !important;
	/*display: none;
	padding-bottom: 10px;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
	background-color: rgba(0, 0, 0, .97);
	overflow-y: auto;
	overflow-x: hidden;*/
	z-index: 2000;
}

/* arrow look 
#navigation:after,*/
#expanddiv:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #e66b20;
	border-width: 10px;
	margin-left: -10px;
	top: 18px;
}
.fileActionsMenu.bubble::after , .newFileMenu.bubble::after{

	border-bottom-color: #e66b20;
}

/* position of dropdown arrow */
#navigation:after {
	left: 47%;
}

#expanddiv:after {
	right: 15px;
}

#navigation, #navigation * {
	box-sizing: border-box;
}

#navigation li {
	display: inline-block;
}

#navigation a {
	position: relative;
	width: 90px;
	height: 80px;
	display: inline-block;
	text-align: center;
	padding-top: 5px;
}

#navigation a span {
	display: inline-block;
	font-size: 15px;
	padding-bottom: 0;
	padding-left: 0;
	width: 80px;
	text-align: center;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* icon opacity and hover effect */
#navigation a img,
#navigation a span {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity: .7;
}

#navigation a:hover img,
#navigation a:focus img,
#navigation a:hover span,
#navigation a:focus span,
#navigation a.active img,
#navigation a.active span {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}

#navigation .app-icon {
	margin: 0 auto;
	padding: 0;
	max-height: 45px;
	max-width: 35px;
	width: 35px
}

/* Apps management */
#apps-management {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	opacity: .6;
	min-height: initial;
	height: initial;
	margin: 0;
}

/* loading feedback for apps */
#navigation .app-loading .icon-loading-dark {
	display: inline !important;
	position: absolute;
	top: 20px;
	left: 24px;
	width: 32px;
	height: 32px;
}

#navigation .app-loading .app-icon {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	opacity: .1;
}

#apps {
	max-height: 70px;
	overflow: hidden;
}

/* USER MENU -----------------------------------------------------------------*/

/* info part on the right, used e.g. for info on who shared something */
.header-right {
	position: absolute;
	right: 0;
	padding: 7px 5px;
	color: #fff;
	height: 100%;
	max-width: 80%;
	white-space: nowrap;
	box-sizing: border-box;
}

/* Profile picture in header */
#header .avatardiv {
	float: left;
	display: inline-block;
	margin-right: 8px;
	cursor: pointer;
	height: 32px;
	width: 32px;
}

#header .avatardiv img {
	opacity: 1;
	cursor: pointer;
}

#settings {
	float: right;
	color: #bbb;
	cursor: pointer;
}

#settings .icon-loading-small-dark {
	display: inline-block;
	margin-bottom: -3px;
	margin-right: 6px;
	background-size: 16px 16px;
}

#expand {
	display: block;
	padding: 0 30px 0 10px;
	cursor: pointer;
	line-height: 70px;
}

#expand * {
	cursor: pointer;
}

#expand:hover,
#expand:focus,
#expand:active {
	color: #fff;
}

#expand img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity: .7;
	margin-bottom: -2px;
}

#expand:hover img,
#expand:focus img,
#expand:active img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}

.fileActionsMenu, .newFileMenu,
#expanddiv {
	position: absolute;
	right: 10px;
	top: 30px;
	z-index: 2000;
	display: none;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-sizing: border-box;
}

.fileActionsMenu{
	top:35px;
}

#expanddiv a  {
	display: block;
	height: 40px;
	color: white;
	padding: 0 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity: .7;
	box-sizing: border-box;
}
.newFileMenu label span, .newFileMenu a span, .fileActionsMenu  a span{
	color:white
}

#expanddiv a img {
	margin-right: 6px;
	vertical-align: middle;
}

#expanddiv a:hover,
#expanddiv a:focus,
#expanddiv a:active,
#expanddiv a.active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}

#expandDisplayName {
	font-size: 15px;
	color: white;
	opacity: 0.7;
}

#expandDisplayName:hover {
	opacity: 1;
}

.fileActionsMenu ul, .newFileMenu ul,
#expanddiv ul {
	width: 200px;
	height: 0;
	position: relative;
	top: 0px;
}

.newFileMenu ul{
	top:2px
}

.fileActionsMenu ul{
	top:20px;
}

.fileActionsMenu ul.expandMenu, .newFileMenu ul.expandMenu,
#expanddiv ul.expandMenu {
	height: auto;
}

.fileActionsMenu ul li, .newFileMenu ul li,
#expanddiv ul li {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #e66b20;
	margin: 5px 0;
	box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, .2);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	cursor: pointer;
}

.newFileMenu ul li label, .newFileMenu ul li a{
	padding-left: 15px !important;
}

.fileActionsMenu ul.expandMenu li, .newFileMenu ul.expandMenu li,
#expanddiv ul.expandMenu li {
	z-index: 1003;
	left: 0px;
	margin-left: 0px;
	opacity: 1;
	transform: none;
	transition: all 300ms ease;
	width: 200px;
}
.newFileMenu ul.expandMenu li{
	width:170px;
}

#expanddiv ul.expandMenu li:nth-child(1){
	top: 35px;
}

#expanddiv ul.expandMenu li:nth-child(2){
	top: 80px;
}

#expanddiv ul.expandMenu li:nth-child(3) {
	top: 125px;
}

#expanddiv ul.expandMenu li:nth-child(4) {
	top: 170px;
}

#expanddiv ul.expandMenu li:nth-child(5) {
	top: 215px;
}
.fileActionsMenu ul.expandMenu li{
	margin:0;
}

.fileActionsMenu ul.expandMenu li:nth-child(1) {
	top: 0;
}

.fileActionsMenu ul.expandMenu li:nth-child(2){
	top: 45px;
}

.fileActionsMenu ul.expandMenu li:nth-child(3) {
	top: 90px;
}

.fileActionsMenu ul.expandMenu li:nth-child(4){
	top: 135px;
}

.fileActionsMenu ul.expandMenu li:nth-child(5) {
	top: 180px;
}

.newFileMenu  ul.expandMenu li:nth-child(1) {
	top:10px;
}

.newFileMenu  ul.expandMenu li:nth-child(2) {
	top:55px;
}

.fileActionsMenu ul li:hover, .newFileMenu  ul li:hover,
#expanddiv ul li:hover {
	background-color: rgb(252, 132, 16);
}

.fileActionsMenu ul li a img, .newFileMenu ul li a img,
#expanddiv ul li a img {
	opacity: 0.7;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.fileActionsMenu ul li:hover a img,  .newFileMenu ul li:hover a img,
#expanddiv ul li:hover a img {
	opacity: 1;
}


#fileList .fileActionsMenu ul li a.action{
	margin:0 ;
	padding:0 0 0 20px;
	display: block;
	width:200px;
	height:30px;
	line-height: 30px;

}

@media screen and (min-width: 1500px){
	#expanddiv a{
		font-size:17px;
	}
	.newFileMenu label span, .newFileMenu a span, .fileActionsMenu  a span{
		font-size:17px;
	}
	#expanddiv ul li a img{
		height:20px;
	}
}
/****************
	Tour guide
******************/

#tourguid {
	float: right;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	height: 70px;
	font-size: 15px;
}

#tourguid button {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	outline: 0;
	line-height: 70px;
	padding: 0 10px 0 0;
	margin: 0;
	opacity: 0.7;
}

#tourguid button:hover, #tourguid button:focus, #tourguid button:active {
	opacity: 1;
	color: white;
}

/* do not show display name when profile picture is present */
#header .avatardiv.avatardiv-shown + #expandDisplayName {
	display: none;
}

#header #expand {
	display: block;
}

#header #ocToolbar .padded a div {
	display: none;
}

#header #ocToolbar .dijit button {
	background-size: 15px 15px;
}


@media screen and (min-width: 1500px) {
	#tourguid button, #expandDisplayName {
		font-size:17px;
	}
}

@media screen and (max-width: 900px) {
	#owncloud {
		width: 100px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	#navigation {
		left: 100px;
	}
}

@media screen and (max-width: 767px) {
	#owncloud {
		width: 80px;
	}

	#navigation {
		left: 80px;
	}

	#header .logo-icon {
		width: 60px;
		top: 10px;
	}

	#navigation a {
		width: 60px;
	}

	#navigation a span {
		width: 60px;
		font-size: 12px;
	}

	#expandDisplayName {
		font-size: 14px;
	}

	#tourguid {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	#expandDisplayName {
		font-size: 13px;
	}
}

@media screen and (max-width: 500px) {
	#owncloud {
		width: 70px;
	}

	#navigation {
		left: 65px;
	}

	#header .logo-icon {
		width: 50px;
	}

	#navigation a {
		width: 50px;
	}

	#navigation a span {
		width: 50px;
		font-size: 12px;
	}

	#expandDisplayName {
		font-size: 14px;
	}

	#tourguid {
		display: none;
	}

	#expand {
		padding-right: 10px;
	}
}

@media screen and (max-width: 400px) {
	#owncloud {
		width: 60px;
	}

	#navigation {
		left: 60px;
	}

	#header .logo-icon {
		width: 50px;
	}

	#navigation a {
		width: 40px;
	}

	#navigation a span {
		width: 40px;
		font-size: 10px;
	}

	#expandDisplayName {
		font-size: 12px;
	}

	#apps {
		padding-top: 5px;
	}
}

@media screen and (max-width: 350px) {
	#owncloud {
		width: 50px;
	}

	#navigation {
		left: 55px;
	}

	#header .logo-icon {
		width: 40px;
		top: 20px;
	}

	#navigation a {
		width: 35px;
	}

	#navigation a span {
		width: 35px;
	}

	#navigation .app-icon {
		width: 30px;
	}

	#apps {
		padding-top: 10px;
	}
}